@font-face {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('Roboto_400.woff2') format('woff2');
}

* {
  font-family: "Roboto Regular", Verdana, Tahoma, sans-serif;
}
